<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Alevels Notes</title>
  <link rel="stylesheet" href="tchrs.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Preahvihear&display=swap" rel="stylesheet">
</head>

<body>
  <thead>
    <div class="cont">
      <nav>
        <ul>
          <li class="home"><a href="/index.html">Home</a></li>
          <li><a style="text-align: center;" href="/alevel page/alevels.html">A-Levels</a></li>
          <li><a href="">Olevel (soon)</a></li>
        </ul>
      </nav>
    </div>
  </thead>
  <tbody>
    <div class="namecont">
      <div>
        <h3>Mathematics</h3>
      </div>
    </div>
    <div class="linkscontainer">
      <div class="links"><span>Links:
          <ul>
            <li><a href="">Teacher 1</a></li>
            <li><a href="">Teacher 2</a></li>

          </ul>
        </span></div>
    </div>

    <div id="teacher" class="container">
      <div class="teacher1">
        <div><span> Ahmed Bilal: Where It Finally Makes Sense!
          </span></div>
      </div>

    </div>
    <div class="about">
      <div>
        <h3>About Him:</h3>
        <p>
          Sir Ahmed Bilal graduated from Imperial College London and is a famous mathematician and teacher. He was part of the National Math Olympiad team of Pakistan in 2008 and 2009 and secured top positions in many mathematics competitions. Putting his expertise to good use, Bilal now provides high-quality math tutorials on YouTube for O/A-Level students and makes advanced mathematics approachable and interactive for learners across the globe.
        </p>
        <h3>Institutions:</h3>
        <p>Sir Ahmed Bilal has taught in many prestigious colleges/schools such as:
        <ul>
          <li>International School Lahore</li>
          <li>Lahore Grammar School Johar Town</li>
          <li>Lahore Grammar School 55 Main</li>
        </ul>
        </p>
        <div class="vid">
          <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/P1c5Ayz9eSk?si=aQ2cOhk8WMVYNaqf&muted" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="workcontainer">
    <div class="paper1">
      <div>
        <h3>Paper 1:</h3>
        <br>

      </div>
    </div>
    <div class="paper3">
      <div>
        <h3 style="text-decoration: underline;">Paper 3:</h3>
        <br>
        

      </div>
    </div>
    <div class="mechanics">
      <div>
        <h3 style="text-decoration: underline;">Mechanics:</h3>
        <br>


      </div>
    </div>
    <div class="stats">
      <div>
        <h3 style="text-decoration: underline;">Statistics:</h3>
        <br>

  </div>
  </tbody>
 
  