

*{
    padding: 0;
    margin: 0;
    font-family: Geologica,Poppins,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    
}
body{
background-color: var(--col1);}

:root {
    --col1:#edf2fa;
    --col2:#d7e3fc;
    --col3:#ccdbfd;
    --col4:#729dff;
    --col42:#81a6fd;
    --col5:#abc4ff;
    --col6:rgb(95, 95, 250);
    --col62:rgb(146, 146, 252);
    --col7:#7b93ca;
    
  }

.cont{
    border: none;
    height: 10vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    /* remove padding once u add colors */
    position: static;
    background-color: var(--col6);
    
}
.cont nav ul li a{
   text-align: center;
   color: white;

}
.cont nav ul li a:hover{
    color:#6700dd;
    text-decoration: underline;
}
.cont nav ul li a:hover{
    color:rgb(69, 227, 255);
}
.cont nav ul li:hover{
    background-color: rgb(50, 0, 70)
}



    

.cont nav ul li{
    border-radius: 15px;
    border: none;
    background-color:var(--col5) ;

 }



nav ul li{
    list-style-type: none;
    position: static;
}

nav ul li{
    border: 1px solid black; 
    width: 70px;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: static;
    font-weight: bolder;
}


nav ul{
    display: flex;
    gap: 10vw;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}

/* END */
.sub{
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh;

}
.subhead{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh;
    margin: 5vh;
    
    
}
.subhead div h2{
    text-decoration:underline;
    color: white;
}

.subjects{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subjects ul li{
    border: none;
    border-radius: 15px;
    background-color: var(--col6) ;
    margin: 5px;
    padding: 15px;
    font-weight: bold;
    list-style-type: none;

}
.subjects ul li a{
    color:wheat;
}
.subjects ul li a:hover{
    color:rgb(69, 227, 255);
    text-decoration: underline;
}
.subjects ul :hover{
    background-color: rgb(50, 0, 70);
}




.subjects ul li{
    list-style-position:inside;
    /* list-style-image: url(/assets/iStock-1087508538.webp);
    background-repeat: no-repeat;
    list-style-image: ;
} */
 }

.mega{
    border:none;
    border-radius: 15px;
    margin: 10px;
    padding: 1vh;
    height: 90vh;
    width: 70vw;
    background-color:var(--col42) ;
    ;
}

.megamega{
    display: flex;
    justify-content: center;
    align-items: center;
}
