

*{
    padding: 0;
    margin: 0;
    font-family: Geologica,Poppins,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    
}
body{
    background: linear-gradient(var(--grad2),var(--grad9),var(--grad3));
}

:root {
    --grad1: #7695FF;
    --grad2: #125B9A;
    --grad3: #0B8494;
    --grad4:#617acc;
    --grad5: #80C4E9;
    --grad6: #6DC5D1;
    --grad7:#00215E;
    --grad8:#9DBDFF;
    --grad9:#4E31AA;
    --grad10: #3ABEF9;

  }

.cont{
    border: none;
    height: 10vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    /* remove padding once u add colors */
    position: static;
    background: linear-gradient(var(--grad10),var(--grad7));
    
}
.cont nav ul li a{
   text-align: center;
   color: wheat;

}
.cont nav ul li a:hover{
    color:rgb(255, 140, 159);
}
.cont nav ul li{
    border-radius: 15px;
    border: none;
    background: linear-gradient(var(--grad3),var(--grad6));
 }



nav ul li{
    list-style-type: none;
    position: static;
}

nav ul li{
    border: 1px solid black; 
    width: 70px;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: static;
    font-weight: bolder;
}


nav ul{
    display: flex;
    gap: 10vw;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}

/* END */
.sub{
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh;

}
.subhead{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh;
    margin: 5vh;
    
}
.subhead div h2{
    text-decoration:underline;
    color: wheat;
}

.subjects{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subjects ul li{
    border: none;
    border-radius: 15px;
    background: linear-gradient(var(--grad4),var(--grad2),var(--grad2));
    margin: 5px;
    padding: 15px;
    font-weight: bold;
    list-style-type: none;

}
.subjects ul li a{
    color:wheat;
}
.subjects ul li a:hover{
    color:rgba(255, 80, 109, 0.836);
}
.subjects ul li:hover{
    background-color: rgb(207, 194, 219);
}

.subjects ul li{
    list-style-position:inside;
    /* list-style-image: url(/assets/iStock-1087508538.webp);
    background-repeat: no-repeat;
    list-style-image: ;
} */
 }

.mega{
    border: 5px solid wheat;
    border-radius: 15px;
    margin: 10px;
    padding: 1vh;
    height: 90vh;
    width: 70vw;
    background: linear-gradient(var(--gradbutton2),var(--grad4));
}

.megamega{
    display: flex;
    justify-content: center;
    align-items: center;
}
