*{
    padding: 0vw;
    margin: 0vh;
    font-family: Geologica,Poppins,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
body{
    background-color: var(--bodyback);
}
:root {
    --smallback: #697565;
    --bodyback:#1E201E;
    --bottom:#ECDFCC;
    --contcol: #3C3D37;
    --top:#3C3D37;
    --pathcol: #3C3D37;
  }

.Fh {
    text-align: center;
    border:none;
    border-radius: 0px;
    text-shadow:none;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    margin: 0;
    background-color: var(--top);
    color: wheat;
    height: 10vh;
    display: flex;
}

.container{
    border: none;
    border-radius: 15px;
    margin: 2vh;
    padding: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 80vw;
    gap: 25vw;
    position: relative;
    left: 4.25vw;
    background-color: var(--contcol);
    
}

.olvl{
    border:none;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 25vh;
    width: 20vw;
    background-color: var(--smallback);
    color: wheat;
    
}

.alvl{
    border:none;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 25vh;
    width: 20vw;
    background-color: var(--smallback);
    color: wheat;
}

.a,.o{
    text-decoration: none;
    color: wheat;
}
.o:hover,.a:hover{
    color:rgb(140, 167, 255) ;

}

.path{
    border: none;
    border-radius: 15px;
    padding: 5vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--pathcol); ;
    color: wheat;
    
}

.pathdiv{
    display: flex;
    justify-content: center;
}

.abt{
    color: black;
    
}
.abtcont{
    border:none;
    padding: 5vh;
    width: 70vw;
    background-color:var(--bottom) ;
    border-radius: 10px;

}
.contcont{
    display: flex;
    justify-content: center;
}