*{
    padding: 0;
    margin: 0;
    font-family: Geologica,Poppins,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
body{
    background: linear-gradient(var(--grad2),var(--grad3),var(--grad3),var(--grad7))
}
:root {
    --grad1: #7695FF;
    --grad2: #125B9A;
    --grad3: #0B8494;
    --grad4:#617acc;
    --grad5: #80C4E9;
    --grad6: #6DC5D1;
    --grad7:#00215E;
    --grad8:#9DBDFF;
    --grad9:#4E31AA;
    --grad10: #3ABEF9;

  }


.cont{
    border: none;
    height: 10vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    /* remove padding once u add colors */
    position: static;
    background: linear-gradient(var(--grad4),var(--grad1))
    

}
nav ul li{
    list-style-type: none;
    position: static;
}

nav ul li{
    border:none; 
    border-radius: 15px;
    width: 70px;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: static;
    font-weight: bolder;
    background: linear-gradient(var(--grad1),var(--grad10));;
    color: wheat;
}


nav ul{
    display: flex;
    gap: 10vw;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color:wheat;
}
a:hover{
    color:blue;
}

/* END */

.mathcont , .links{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 15px;
    padding: 5vh;
    margin: 5vh;
    color: wheat;
    background: linear-gradient(var(--grad3),var(--grad4))
}

.linkscontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.links{
    width: 25vw;
    font-weight: bolder;
    border-radius: 15px;

}
.links ul li{
    margin: 2vh;
    text-decoration: none;
}

.zainematics{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 15px;
    background: linear-gradient(var(--grad9),var(--grad10));
    width: 20vw;
    padding: 5vh;
    border-radius: 15px;
    color: wheat;
}
.zaincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    padding: 10;
    
}
.aboutzain div:nth-child(1){
    margin: 50px;
    font-weight: bolder;
}

.aboutzain{
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: left;
    align-content: center;
    align-items: center ;
    justify-items: center;
    margin: 5vh;
    padding: 2vh;
    color: wheat;
    background: linear-gradient(var(--grad9),var(--grad10));
}
.aboutzain h3{
    text-decoration: underline;
}
.aboutzain p{
    padding: 3vh;
}
.aboutzain iframe{
    display: flex;
    justify-content: center;
    align-items: center;
}

.zainvid{
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
 
}

.resources{
    border: 1px solid;
    display: block;
    width: 30vw;
    height: 30vh;
    padding: 3vh;
    margin: 2vh;
    text-decoration: none;

}

.zainpaper1 div h3{
    text-decoration: underline;

}
.zainpaper1{
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: left;
    align-content: center;
    align-items: center ;
    justify-items: center;
    margin: 5vh;
    padding: 5vh;
    width: 20vw;
    color: wheat;
    background: linear-gradient(var(--grad2),var(--grad10));
    
}
.workcontainer{
    display: flex;
    
    align-items: center;
}
.zainpaper1 div li a:hover{
    text-decoration: underline;
}
.zainpaper3 div li a:hover{
    text-decoration: underline;
}
.zainpaper3{
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: left;
    align-content: center;
    align-items: center ;
    justify-items: center;
    margin: 5vh;
    padding: 5vh;
    width: 20vw;
    background: linear-gradient(var(--grad2),var(--grad10));
    color:wheat
    }
.zainematics div li a:hover{
    text-decoration: underline;
}
.zainmechanics{
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: left;
    align-content: center;
    align-items: center ;
    justify-items: center;
    margin: 5vh;
    padding: 5vh;
    width: 20vw;
    background: linear-gradient(var(--grad2),var(--grad10));
    color:wheat
    }
    
.zainstats{
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: left;
    align-content: center;
    align-items: center ;
    justify-items: center;
    margin: 5vh;
    padding: 5vh;
    width: 20vw;
    background: linear-gradient(var(--grad2),var(--grad10));
    color:wheat
    }
    



